.btn-ghost {
  color: #3ac59f;
  border: 1px solid #3ac59f;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  border: 1px solid white;
}

.center {
  text-align: center;
}

.form-actions {
  text-align: center;
}
